<link rel="icon" type="image/png" href="https://min731.github.io/assets/logo.ico/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="https://min731.github.io/assets/logo.ico/favicon.svg" />
<link rel="shortcut icon" href="https://min731.github.io/assets/logo.ico/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="https://min731.github.io/assets/logo.ico/apple-touch-icon.png" />
<link rel="manifest" href="https://min731.github.io/assets/logo.ico/site.webmanifest" />
